*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    position: absolute;
    padding: 50px 8%;
    min-height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url('Assets/waterBg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.parent img{
    border-radius: 30px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px #00000010;
}

.parent{
    column-width: 150px;
}

.header_nav{
    padding: 0 4%;
    background: rgb(10, 13, 29);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .header_nav a img{
    max-width: 150px;
    width: 150px;
 }

 .header_nav .home{
    margin-top: 20px;
    font-size: 35px;
    color: #fff;
 }

.header_nav h2{
    margin-top: 50px;
    margin-left: -150px;
    font-size: 20px;
    color: #fff;
 }

.gallery{
    margin-top: 135px;
    top: 135px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    max-width: 1600px; */

    /* margin-top: 135px;
    column-width: 150px;
    gap: 30px; */
}


/* add at top one
    margin-top: 135px;
    top: 135px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
add at top one  */


.gallery img{
    margin-top: 20px;
    width: 100%;
}

.container h2{
    margin-bottom: 30px;
    font-size: 35px;
    text-decoration: underline;
}

.container{
    z-index: 100;
}

.container .gallery img{
    border-radius: 0 25px 25px 25px;
    transition: 0.3s all ease-in-out;
}

.container .gallery img:hover{
        transform: scale(1.3);
        z-index: -10;
}

/* .container .gallery:hover img:not(:hover){
    opacity: 0.5;
} */




@media screen and (max-width:500px){
    .header_nav h2{
        display: none;
    }
}

@media screen and (max-width:500px){
    .header_nav a img{
        width: 100px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:500px){
    .header_nav a .home{
        margin-bottom: 20px;
        width: 100px;
        display: flex;
        align-items: center;
    }
}

.clientname{
    display: none;
}

@media screen and (max-width:500px){
    h2.clientname{
        margin-bottom: -7rem;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 2.0rem;
    }
}