*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video_container{
    margin: 50px 10%;
}

.videotitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.35rem;
}

.videotitle h4{
    font-size: 1.75rem;
}

.videocontent_content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_details{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 3rem;
}

.videotype{
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
    color: #333;
    border-bottom: 2.1px solid #333;
}

.video{
    position: relative;
    width: 280px ;
    height: 190px;
    margin: 10px;
    background: #333;
}

.video_thumbnail{
    width: 100%;
    height: 100%;
}

.videoplay_icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 45px;
}

.videop{
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 300;
    color: #333;
    margin-bottom: .75rem;
}

.video_btn .btn{
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: #171717;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}